<h1 class="page-header">Welcome to Task Manager</h1>

<div class="jumbotron">
<ul class="task_options">
  <li><a href="/tasks">Task Index</a></li>
  <li><a href="/tasks/new">New Task</a></li>
</ul>
</div>