<form action="/tasks" method="post">
  <h2 class="page-header">Enter a new task:</h2>
  <input type="text" class="form-control" placeholder="Task Name" name="task[title]">
  <input type="text" class="form-control" placeholder="Task Description" name="task[description]"></br>
  <input class="btn btn-danger" type="submit" value="Submit Task"/>
</form>